html,
body {
  background-color: #f4f5f7 !important;
}

::file-selector-button {
  display: none;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 70px;
  background-color: #0d28a6;
  padding: 20px;
}

.second-sidebar {
  position: fixed;
  top: 0;
  left: 70px;
  height: 100%;
  width: 220px;
  background-color: white;
  padding: 20px;
}

.sidebar ul {
  list-style-type: none;
  padding-left: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboard-icon,
.cars-icon {
  padding-left: 0px;
}

.dashboard-icon {
  margin-top: 42px;
}

.dashboard-p,
.cars-p {
  font-size: 12px;
}

.list-cars {
  width: 1280px;
  background-color: #f4f5f7;
}

.list-cars button {
  margin-left: 100px;
}

.list-filter {
  margin-left: 130px;
  padding-left: 10px;
  background-color: #f4f5f7;
}

.cars-div {
  margin-left: 105px;
  padding-top: 32px;
  padding-left: 25px;
  background-color: #f4f5f7;
  font-size: 12px;
  margin-bottom: 0;
}

.cars-div p {
  margin: 0 !important;
}

.list-cars h3 {
  margin-left: 105px;
  padding-left: 25px;
}

.form-group {
  width: 900px;
}
.form-div {
  margin-left: 130px;
  margin-top: 30px;
  padding-top: 20px;
  padding-left: 20px;
  width: 100%;
  background-color: white !important;
}

.form-div select {
  width: 339px;
}

.form-div input {
  width: 339px;
}

.form-div label {
  padding-right: 90px;
}
