@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  font-family: "IBM Plex Sans", sans-serif;
}
html,
body {
  background-color: #f4f5f7 !important;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 70px;
  background-color: #0d28a6;
  padding: 20px;
}

.second-sidebar {
  position: fixed;
  top: 0;
  left: 70px;
  height: 100%;
  width: 220px;
  background-color: white;
  padding: 20px;
}

.sidebar ul {
  list-style-type: none;
  padding-left: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboard-icon,
.cars-icon {
  padding-left: 0px;
}

.dashboard-icon {
  margin-top: 42px;
}

.dashboard-p,
.cars-p {
  font-size: 12px;
}

.list-cars {
  width: 1280px;
  background-color: #f4f5f7;
}

.list-cars button {
  margin-left: 100px;
}

.list-filter {
  margin-left: 130px;
  padding: 10px;
  background-color: #f4f5f7;
}

.list-filter button {
  padding: 8px 12px;
  border: 2px solid #AEB7E1;
  color: #AEB7E1;
}

.cars-div {
  margin-left: 105px;
  padding-top: 32px;
  padding-left: 25px;
  background-color: #f4f5f7;
  font-size: 12px;
  margin-bottom: 0;
}

.cars-div p {
  margin: 0 !important;
}

.list-cars h3 {
  margin-left: 105px;
  padding-left: 25px;
}

.card {
  margin-left: 130px;
  width: 351px;
  height: 420px;
}
.card-img-top {
  padding: 24px 24px 0 24px;
}

.card-title {
  font-size: 14px;
}

.card-text {
  font-size: 16px;
  font-weight: 500;
}

.row {
  background-color: #f4f5f7;
}

.card-button a {
  width: 143.5px;
  border-radius: 2px;
  border: 1px;
  padding: 8px, 12px, 8px, 12px;
  font-size: 14px;
}

.card-updated {
  font-size: 14px;
}

.delete {
  margin-right: 16px;
  width: 143.5px;
  height: 48px;
  border-radius: 2px;
  border: 1px;
  padding: 8px, 12px, 8px, 12px;
  font-size: 14px;
  border: 1px solid #fa2c5a;
  color: #fa2c5a;
  font-weight: 500;
  background-color: white;
}
.edit {
  margin-right: 16px;
  width: 143.5px;
  height: 48px;
  border-radius: 2px;
  border: 1px;
  padding: 8px, 12px, 8px, 12px;
  font-size: 14px;
  background-color: #5cb85f;
  color: white;
  font-weight: 500;
}

.alert {
  position: absolute;
  top: 150px;
  z-index: 100;
  width: 500px;
  left: 40%;
}
